.slider__wrapper {
    display: flex;
    margin: 39px auto 40px;
    max-width: 1080px;
}

.slide {
    margin: 0 auto 24px;
}

.slider__age {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin: 32px auto 0;
    line-height: 41px;
    color: #4F4F4F;
}

.slider__wrapper {
    position: relative;
}

.slider__wrapper::after {
    content: "";
    border: 1px solid #C4C4C4;
    top: 148px;
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    z-index: -1;
}

.slider__text {
    font-family: Roboto Condensed;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 95%;
    color: #949494;
    /* width: 170px; */
    text-align: left;
}

.title--left {
    position: relative;
    margin-top: 62px;
}

.title--left::before {
    content: "";
    width: 10px;
    height: 9px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: 80px;
    bottom: 0px;
    left: calc(50% - 9px);
    z-index: 5;
    border: 2px solid red;
    background-color: white;
}

.title--left-middle::before {
    content: "";
    width: 10px;
    height: 9px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: 133px;
    bottom: 0px;
    left: calc(50% - 9px);
    z-index: 5;
    border: 2px solid red;
    background-color: white;
}

.title--right-middle::before {
    content: "";
    width: 10px;
    height: 9px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: 109px;
    bottom: 0px;
    left: calc(50% - 9px);
    z-index: 5;
    border: 2px solid red;
    background-color: white;
}

.title--right::before {
    content: "";
    width: 10px;
    height: 9px;
    background: white;
    position: absolute;
    border-radius: 50px;
    top: 90px;
    bottom: 0px;
    left: calc(50% - 9px);
    z-index: 5;
    border: 2px solid red;
    background-color: white;
}

.title--left::after {
    content: "";
    border-left: 2px solid #C4C4C4;
    height: 38px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50px;
    z-index: 1;
}

.title--left-middle {
    margin-top: -23px;
    position: relative;
}

.title--left-middle::after {
    content: "";
    border-left: 2px solid #C4C4C4;
    height: 89px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50px;
}

.title--right-middle {
    position: relative;
}

.title--right-middle::after {
    content: "";
    border-left: 2px solid #C4C4C4;
    height: 68px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50px;
}

.title--right {
    margin-top: 51px;
    position: relative;
}

.title--right::after {
    content: "";
    border-left: 2px solid #C4C4C4;
    height: 49px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 50px;
}

.content__wrapper {
    max-width: 1080px;
    margin: auto;
}

.content__block-text {
    margin: 28px auto 0;
}

.slide--text1 {
    margin-top: 76px;
    width: 155px;
    padding: 0px 20px;
}

.slide--text2 {
    margin-top: 131px;
    width: 223px;
    padding: 0px 20px;
}

.slide--text3 {
    margin-top: 108px;
    width: 234px;
    padding: 0px 20px;
}

.slide--text4 {
    margin-top: 88px;
    width: 239px;
    padding: 0 20px;
}

.slide--text3-1 {
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 104.5%;
    color: #949494;
    margin-top: 9px;
    width: 233px;
    padding: 0px 20px;
}

.slide--text4-1 {
    margin-top: 5px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 104.5%;
    color: #949494;
    width: 239px;
    padding: 0 20px;
}

.slick-next {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 1080) {
    .slick-active {
        outline: none;
    }
}